.Item{
    height: 500px;
    width: 500px;
    border-style: solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: grey;
    -webkit-box-shadow: 17px 18px 33px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 17px 18px 33px 0px rgba(0,0,0,0.75);
    box-shadow: 17px 18px 33px 0px rgba(0,0,0,0.75);
}

.Item img{
    padding: 20px;
    text-align: justify;
    height: 50%;
}

p{
    margin: 20px;
    border-style: solid;
}

.ItemTitle{
    position: relative;
}