.ItemListContainer{
    height: 500px;
    width: 500px;
    borderStyle: solid;
    borderRadius: 15px;
    display: flex;
    flexDirection: column;
    textAlign: center;
    backgroundColor: grey;
    webkitBoxShadow: 17px 18px 33px 0px rgba(0,0,0,0.75);
    mozBoxShadow: 17px 18px 33px 0px rgba(0,0,0,0.75);
    boxShadow: 17px 18px 33px 0px rgba(0,0,0,0.75);
    .ItemTitle{
        position: relative;
    }
    img{
        padding: 20px;
        textAlign: justify;
    }
    p{
        margin: 20px;
        borderStyle: solid;
    }
}
