nav{
    border-style: solid;
    background-color: darkcyan;
}

nav ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

nav ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 25vw;
}

nav ul li #cart{
    position: absolute;
    top: 100px;
    right: 20px;
    height: 40px;
}

nav ul li #cartCounter{
    position: absolute;
    top: 100px;
    right: 60px;
    height: 25px;
}